body {
    background-color: #3b5998;
    background-size: 100vw 100vh;
}

.outputDiv {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.Header {
    grid-area: 4 / 4 / 10 / 10;
}

.logoutButton {
    grid-area: 1 / 12 / 2 / 13;
}

.backButton {
    grid-area: 2 / 6 / 3 / 8;
}

.htmlCode {
    grid-area: 1 / 1 / 2 / 2;
}

.menuButtons {
    background-color: linen;
    height: 100px;
    width: 250px;
    margin: 10px;
}

.logoutButton {
    background-color: linen;
    height: 70px;
    width: 150px;
}